.cardOuterContainer {
  border-radius: 20px;
  border: 1px solid #dee2e6;
  min-height: 650px;
  min-width: fit-content;
}

.cardOuterContainer:hover {
  border: 1px solid #2196f3;
}

.loadingSpinner {
  color: #2196f3;
}
