.cardOuterContainer {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #dee2e6;
  min-height: 100%;
  min-width: fit-content;
  max-height: fit-content;
}

.cardOuterContainer:hover {
  border: 1px solid #2196f3;
}

.loadingSpinner {
  color: #2196f3;
}
