@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

.heroSection {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyName {
  color: #ff7a00;
}

.companyBadge {
  display: flex;
}

.connectSection {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.connectButton {
  background-color: black;
}

.connectSectionConnectionButton {
  color: blue;
  text-decoration: none;
}
