.cardOuterContainer {
  border-radius: 20px;
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid #dee2e6;
  height: 100vh;
  min-width: fit-content;
}

.cardOuterContainer:hover {
  border: 1px solid #2196f3;
}

.loadingSpinner {
  color: #2196f3;
}

.Button {
  background-color: #86d7f0;
  font-size: 10px;
  margin-right: 10px;
  padding: auto;
  margin-bottom: 10px;
}

.resumeHeaderContainer {
  position: sticky;
}
