.cardOuterContainer {
  border-radius: 20px;
  border: 1px solid #dee2e6;
  min-height: 650px;
  min-width: fit-content;
}

.cardOuterContainer:hover {
  border: 1px solid #2196f3;
}

.loadingSpinner {
  color: #2196f3;
}

.Button {
  background-color: #86d7f0;
  font-size: 10px;
  margin-right: 10px;
  padding: auto;
  margin-bottom: 10px;
}

.resumeHeaderContainer {
  position: sticky;
}

.iframe {
  min-width: 500px;
  min-height: 550px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 10px;
}