.cardOuterContainer {
  border-radius: 20px;
  margin: 10px;
  border: 1px solid #dee2e6;
  max-height: fit-content;
  min-height: 650px;
  /* background-color: white; */
}

.cardOuterContainer:hover {
  border: 1px solid #2196f3;
}

.cardInnerContainer {
  /* background-color: #f8f9fa; */
  border-radius: 20px;
  margin: 4px;
  padding: 10px;
}

.cardHeaderContainer {
  display: flex;
  margin-bottom: 5px;
}
