.cardHeader {
  border: 1px solid lightgray;
  border-radius: 100px;
  height: 40px;
  align-items: center;
  padding: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: "100%";
  box-shadow: 0 0 12px rgba(76, 201, 240, 0.25);
  font-weight: 500;
}
.cardHeader:hover {
  background: linear-gradient(135deg,rgba(44, 136, 217, 0.2),rgba(76, 201, 240, 0.15));
}

.title {
  font-size: 12px;
  font-weight: 500;
  padding: 3px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
