.viewResumeBtn {
  background-color: #86d7f0;
}

.cardOuterContainer {
  border-radius: 20px;
  border: 1px solid #dee2e6;
  max-height: fit-content;
  min-height: 650px;
  /* background-color: white; */
}

.cardOuterContainer:hover {
  border: 1px solid #86d7f0;
}
